*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(218, 209, 92);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    
    height: 500px;
    width: 1005px;
    display: flex;
    background-image: linear-gradient(to right, #70798b, #869290);

    border-radius: 10px;
    position: relative;
}

.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: radial-gradient(circle at 70%,white,red 30%, #db0505 50%);
    position: absolute;
    
}
#pad{
    height: 20px;
    width: 120px;
    position: absolute;
    bottom: 5px;
    left: 500px;
    border-radius: 10px;
    background-color: rgb(20, 7, 7);
    box-shadow: inset 0 0 18px #fff, 
          inset -6px 0 18px #f3bad6,
          inset 6px 0 18px #0ff, inset -6px 0 30px #f3bad6, 
          inset 6px 0 30px #0ff, 0 0 18px #fff, 
          4px 0 18px #f3bad6, -4px 0 18px #0ff;

}

    
